<h1 class="text-blue-700">Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>
<a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>

<p>
  <div id="typed-strings">
    <p>Typed.js is a <strong>JavaScript</strong> library.</p>
    <p>It <em>types</em> out sentences.</p>
  </div>
  <span id="banner-typed-text"></span>
</p>

<iframe width="702" height="346" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=50DED28A2E98963E%2160347&authkey=%21ACPWvIiw5WBj4f4&em=2&wdAllowInteractivity=False&AllowTyping=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>

<iframe src="https://docs.google.com/document/d/e/2PACX-1vQ98IeXm7m0Hm9IZ8f-7KCH_p8xZXPAJn7xyr17_WR10dspKO1wzBvErC4crXcllHwAVINWNXNrEcZA/pub?embedded=true"></iframe>

